.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a6619;
  padding: 1rem;
  color: white;
  width: 100%; /* Asegura que el navbar ocupe todo el ancho de la pantalla */
  position: fixed; /* Cambiado de fixed a sticky */
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  align-items: center; /* Asegura que todos los elementos estén alineados verticalmente */
}

.navbar-language {
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.dark-mode-toggle {
  flex: 1;
}

.dark-mode-toggle:hover {
  background-color: #000000;
}

.dark .dark-mode-toggle {
  background-color: #141414;
  color: white;
}

.dark .dark-mode-toggle:hover {
  background-color: #040404;
}

/* Estilos para el botón de menú hamburguesa */
.navbar-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;
}

.navbar-menu .bar {
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-links a {
    padding: 0.5rem 0;
    width: 100%;
    text-align: left;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-menu {
    display: flex;
    align-self: flex-end; /* Mueve el botón al lado derecho */
  }
}