.contact-container {
  max-width: 1000px; /* Aumenta el ancho máximo del contenedor */
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(184, 184, 184, 0.2);
}
.contact-container h1 {
  text-align: center;
  color: #004d99;
}
.contact-container h2 {
  text-align: center;
  color: #004d99;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos dentro del formulario */
}
.contact-form label {
  margin-bottom: 0.5rem;
  color: #303030;
  width: 100%; /* Asegura que los labels ocupen todo el ancho del contenedor */
}
.contact-form input,
.contact-form textarea {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #6e6d6d;
  border-radius: 4px;
  background-color: #ffffff;
  color: #131212;
  width: 100%;
  max-width: 900px;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Estilo para la selección del texto en el campo input */
.contact-form input::selection,
.contact-form textarea::selection {
  background-color: S#c0c0c0; /* Fondo gris para la selección */
  color: #000000; /* Texto negro cuando está seleccionado */
}

/* Placeholder en negro para modo claro */
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #000000; /* Placeholder en negro */
}
.contact-form textarea {
  height: 200px; /* Aumenta la altura del textarea */
}
.contact-form button {
  padding: 0.75rem;
  background-color: #009919;
  color: #fcfcfc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 900px;
}
.contact-form button:hover {
  background-color: #007a14;
}

.status-success {
  color: #28a745; /* Verde para éxito */
}

.status-error {
  color: #dc3545; /* Rojo para error */
}

/* Dark mode styles */
.dark .contact-container {
  background-color: #333333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.dark .contact-container h1,
.dark .contact-container h2 {
  color: #ffffff;
}
.dark .contact-form label {
  color: #cccccc;
}
.dark .contact-form input,
.dark .contact-form textarea {
  background-color: #444444;
  color: #ffffff; /* Texto blanco */
  border: 1px solid #888888;
}
.dark .contact-form input::placeholder,
.dark .contact-form textarea::placeholder {
  color: #ffffff; /* Placeholder blanco */
}
.dark .contact-form button {
  background-color: #006600;
}
.dark .contact-form button:hover {
  background-color: #004d00;
}
/* Responsive design */
@media (max-width: 768px) {
  .contact-container {
    padding: 1rem; /* Reduce el padding en pantallas más pequeñas */
  }
  .contact-form input,
  .contact-form textarea {
    font-size: 0.875rem; /* Reduce el tamaño de la fuente en pantallas más pequeñas */
    padding: 0.5rem; /* Reduce el padding en pantallas más pequeñas */
  }
  .contact-form textarea {
    height: 150px; /* Ajusta la altura del textarea en pantallas más pequeñas */
  }
}