.register-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #0a0a0a;
  border-radius: 5px;
  background-color: #fcf9f9;
}

.register-form-title {
  margin-bottom: 1rem;
  text-align: center;
  color: blue;
}

.register-form-group {
  margin-bottom: 1rem;
  color: black;
  position: relative;
}

.register-form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.register-form-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: rgb(5, 5, 5);
  background-color: white;
}

.register-form-input.input-error {
  border-color: red;
}

.register-form-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.register-form-button:hover {
  background-color: #0056b3;
}

.register-form-message {
  text-align: center;
  margin-top: 1rem;
  color: #007bff;
}

/* Estilos de error similares al login form */
.error-container {
  display: flex;
  align-items: center;
  background: #ffe6e6;
  border: 1px solid red;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
}

.error-icon {
  color: red;
  margin-right: 5px;
}

.error-text {
  color: red;
  font-size: 0.9rem;
}

/* Dark mode styles */
.dark .register-form {
  background-color: #333333;
  border: 1px solid #444444;
}

.dark .register-form-title {
  color: #ffffff;
}

.dark .register-form-group {
  color: #cccccc;
}

.dark .register-form-input {
  background-color: #444444;
  color: #ffffff;
  border: 1px solid #888888;
}

.dark .register-form-button {
  background-color: #006600;
}

.dark .register-form-button:hover {
  background-color: #004d00;
}

.dark .register-form-message {
  color: #66ff66;
}

.dark .error-container {
  background: #ffcccc;
  border: 1px solid #ff6666;
}

.dark .error-icon {
  color: #ff6666;
}

.dark .error-text {
  color: #ff6666;
}