.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.dark .login-container {
  background-color: #f0ecec;
}

.login-box {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.dark .login-box {
  background-color: #333333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.login-success-message {
  color: #28a745;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.login-message {
  text-align: center;
  margin-top: 1rem;
}

.login-message-success {
  color: #28a745;
}

.login-message-failure {
  color: #dc3545;
}

.login-back-to-signup {
  text-align: center;
  color: #007bff;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 1rem;
}

.dark .login-back-to-signup {
  color: #66b2ff;
}

/* Estilos para los campos de entrada */
.login-box input {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #6e6d6d;
  border-radius: 4px;
  background-color: #fff; /* Fondo blanco */
  color: #131212; /* Texto negro */
  width: 100%; /* Asegura que las cajas ocupen todo el ancho del contenedor */
  font-size: 1rem; /* Ajusta el tamaño de la fuente */
  box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
}

.dark .login-box input {
  background-color: #fff; /* Fondo blanco */
  color: #131212; /* Texto negro */
  border: 1px solid #888888;
}

/* Estilos para el botón */
.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #007bff; /* Fondo azul */
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el cursor */
}

/* Responsive design */
@media (max-width: 768px) {
  .login-box {
    padding: 1rem;
  }
  .login-message {
    font-size: 0.875rem;
  }
}